.trip-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

	.trip-list__trip {
		background-image: linear-gradient(to right, #3DB7E4 50%, #303333 50.001%);
	  background-size: 200% 100%;
	  background-position: 100%;
	  background-repeat: no-repeat;
		width: 100%;
		font-size: 2rem;
		padding: 1rem 5%;
		color: #242626;
		margin-bottom: .25rem;
		@extend .cf;
	}
