@import "partials/normalize";
@import "settings";


@import "partials/bebas";
@import "partials/helpers";
@import "partials/trip-list";
@import "partials/trip";

$background-color: #242626;
$divvy-brand: #3db7e4;

body {
	background-color: $background-color;
	color: #dfe1e1;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.page-title {
	font-size: 3rem;
	text-align: center;
	color: #fff;
	margin: 0;
}

header[role="banner"] {
	background-color: rgba(0,0,0,0.2);
	padding: 1em 0 0 0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	text-transform: uppercase;
}

.primary-nav {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
	> li {
		display: inline-block;
		> a {
			color: #fff;
			display: block;
			padding: .25em 1em;
		}
	}
}


#results {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}